body {
    margin-left: 12em !important;
    margin-right: 8vw;
    margin-top: 1em;
    margin-bottom: auto;
    min-width: 30em;
    text-align: justify;
    background-color: #333333;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.3em;
    position: fixed;
    top: 15vh;
    left: .9em;
}
nav ul li{
    display: block;
    margin-bottom: 3vh;
    text-align: right;
}
ul.networks li {
    display: block;
    margin-bottom: 3vh;
    text-align: right;
}
nav li a:hover{
  text-decoration: none;
  outline: .4em solid #dddddd;
  outline-offset: 0.4em
}
ul.networks{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
  font-size: 1.3em;
  position: fixed;
  bottom: 8vh;
  left: 2em;
}
ul.networks li a{
  font-size: .8em;
  color: #dddddd;
}
ul.networks li a:hover{
    text-decoration: none;
    outline: .3em solid #76a4ff;
    outline-offset: 0.3em;
}
a, ol {
    text-decoration: none;
    color: #76a4ff;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #76a4ff;
    padding-bottom: 0.5em;
    border-bottom: 4px solid #707070;
    text-align: left;
}
h2{
    font-family:'Sans-Serif';
    color: #76a4ff;
    text-align: center;
    margin-bottom: 0px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #dddddd;
}
ul.posts {
    margin-left: -40px;
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
    color: #dddddd;
}
ul.proj {
    margin-left: -40px;
    list-style: none;
    font-size: 1.5em;
    color: #dddddd;
}
.left-picture{
    float: left;
    margin-right: 0.6em;
    margin-bottom: 0.4em;
    display: inline-block;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.vline {
  border-left: 4px solid #707070;
  height: auto;
  position: fixed;
  left: 8em;
  top: 0px;
  bottom: 0px;
}
.hline1 {
  border-top: 4px solid #707070;
  position: fixed;
  width: 8em;
  left: 0px;
  bottom: 44vh;
}
.hline2 {
  display: none;
  border-top: 4px solid #707070;
  position: relative;
  left: 55px;
  top: 100px;
}
td {
  vertical-align: top;
}
